banned-ips.json
banned-players.json
bukkit.yml
cache
commands.yml
eula.txt
help.yml
libraries
logs
ops.json
paper-1.18.2.jar
paper.yml
permissions.yml
plugins
server.properties
spigot.yml
usercache.json
version_history.json
versions
whitelist.json
world
world_nether
world_the_end
