{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
        com.lambdaisland/witchcraft {:mvn/version "0.36.317"}}

 :aliases
 {:launcher-api
  {:extra-deps {sk.tomsik68/mclauncher-api {:mvn/version "0.3.6"}
                progrock/progrock {:mvn/version "0.1.2"}}}}

 :mvn/repos
 {"sk_tomsik68" {:url "https://raw.githubusercontent.com/tomsik68/maven-repo/master/"}}}
